<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>


	<div class=container>
		<div class="row">
			<div class="col-md-10"> <br>
				<h1>Shirtlist </h1>
			</div>
			<div class="col-md-2" style="padding: 20px 0">
				<span class="col-md-2" style="padding: 20px 0" th:inline="text"></span>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-sm btn-warning" />
				</form>
			</div>
		</div>

		<table class="table table-striped">
			<tr>
				<th>size</th>
				<th>colour</th>
				<th>shirt year</th>
				<th>price</th>

			</tr>
			<tr th:each="shirt : ${shirtList}">
				<td th:text="${shirt.id}">Text ...</td>
				<td th:text="${shirt.size}">Text ...</td>
				<td th:text="${shirt.colour}">Text ...</td>
				<td th:text="${shirt.type}">Text ...</td>
				<td th:text="${shirt.price}">Text ...</td>



				<td><a th:href="@{/edit/{id}(id=${shirt.id})}" class="btn btn-success">Edit</a></td>


				<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>


			</tr>

		</table>
		<a href="/index" class="btn btn-success">Add shirt</a>




	</div>
</body>

</html>