<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>


	<div class=container>
		<div class="row">
			<div class="col-md-10"> <br>
				<h1>Shirts </h1>
			</div>
			<div class="col-md-2" style="padding: 20px 0">
				
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out"
							class="btn btn-sm btn-warning" />
					</form>
				</div>
			</div>
	

			<table class="table table-striped" >
				<tr>
					
					<th>size</th>
					<th>colour</th>
					<th>shirt type</th>
					<th>price</th>
						<th></th>
							<th></th>

				</tr>
				<tr th:each="shirt : ${shirtList}">

		
					<td th:text="${shirt.size}">Text ...</td>
					<td th:text="${shirt.colour}">Text ...</td>
					<td th:text="${shirt.type}">Text ...</td>
					<td th:text="${shirt.price}">Text ...</td>


					<td><a th:href="@{/edit/{id}(id=${shirt.id})}"
						class="btn btn-success">Edit</a></td>


					<td><a
						th:href="@{/delete/{id}(id=${shirt.id})}" class="btn btn-danger">Delete</a></td>


				</tr>

			</table>
			<a href="/addshirt" class="btn btn-success">Add shirt</a>
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/shirtsjson}" class="btn btn-info">Get shirts JSON</a>

		</div>
</body>
</html>